[Unit]
Description=System Ready Checker
After=serial-getty@ttymxc0.service

[Service]
User=root
Type=simple

ExecStart=system-ready-checker.sh

[Install]
WantedBy=getty.target
